<div id="<%= dom_id device %>">
  <p>
    <strong>Name:</strong>
    <%= device.name %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= device.model %>
  </p>

  <p>
    <strong>System name:</strong>
    <%= device.system_name %>
  </p>

  <p>
    <strong>System version:</strong>
    <%= device.system_version %>
  </p>

  <p>
    <strong>Identifier for vendor:</strong>
    <%= device.identifier_for_vendor %>
  </p>

  <p>
    <strong>Localized model:</strong>
    <%= device.localized_model %>
  </p>

  <p>
    <strong>User interface idiom:</strong>
    <%= device.user_interface_idiom %>
  </p>

  <p>
    <strong>User:</strong>
    <%= device.user_id %>
  </p>

</div>
