<p style="color: green"><%= notice %></p>

<%= render @school_category %>

<div>
  <%= link_to "Edit this school category", edit_school_category_path(@school_category) %> |
  <%= link_to "Back to school categories", school_categories_path %>

  <%= button_to "Destroy this school category", @school_category, method: :delete %>
</div>
