<div id="<%= dom_id homework %>">
  <p>
    <strong>Title:</strong>
    <%= homework.title %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= homework.due_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= homework.user_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= homework.category_id %>
  </p>

</div>
