<div id="<%= dom_id card %>">
  <p>
    <strong>User:</strong>
    <%= card.user_id %>
  </p>

  <p>
    <strong>Card number:</strong>
    <%= card.card_number %>
  </p>

  <p>
    <strong>Cvv:</strong>
    <%= card.cvv %>
  </p>

  <p>
    <strong>Valid through:</strong>
    <%= card.valid_through %>
  </p>

</div>
